<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>StartCommandCenterServlet</servlet-name>
        <servlet-class>StartCommandCenterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAgentsServlet</servlet-name>
        <servlet-class>GetAgentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMCTaskServlet</servlet-name>
        <servlet-class>SendMCTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendHashTaskServlet</servlet-name>
        <servlet-class>SendHashTaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartCommandCenterServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAgentsServlet</servlet-name>
        <url-pattern>/GetAgents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMCTaskServlet</servlet-name>
        <url-pattern>/SendMCTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendHashTaskServlet</servlet-name>
        <url-pattern>/SendHashTask</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
